<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="org.tonimichel.sensorplugin"
      version="0.1.0">
    
    <name>SensorPlugin</name>
    <description>Sample PhoneGap Calendar Plugin</description>
    <license>MIT</license>
    <keywords>phonegap,calendar</keywords>


    <js-module src="www/sensorplugin.js" name="SensorPlugin">
        <clobbers target="window.sensorplugin" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Calendar">
                <param name="android-package" value="org.tonimichel.sensorplugin.SensorPlugin"/>
            </feature>
        </config-file>

        <source-file src="src/android/SensorPlugin.java" target-dir="src/org/tonimichel/sensorplugin" />      
     </platform>      
    
</plugin>